body {
  font-family: "Ubuntu", sans-serif;
}

.border-radius {
  border-radius: 0.25rem;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.tabs {
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  background-color: #007bff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  background-color: #007bff !important;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #2980b9;
  border-radius: 0.25rem;
}

.tab.active {
  border-radius: 0.25rem;
  color: #fff;
  background-color: #4350a0 !important;
}

.tab-content {
  display: none;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.tab-content.active {
  display: block;
}
