body {
  font-family: "Ubuntu", sans-serif;
  background-color: antiquewhite;
}

.border-radius {
  border-radius: 0.25rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 1.5rem !important;
}
.pt-5,
.py-5 {
  padding-top: 1.5rem !important;
}

.iframe1 {
  width: 100%;
  height: 100vh;
  border: none;
  overflow: hidden;
}

.iframe3 {
  width: 100%;
  height: 50vh;
  border: none;
  overflow: hidden;
}

.iframe2 {
  width: 100%;
  height: 70vh;
  border: dashed #f33;
  overflow: hidden;
}

.iframe4 {
  width: 100%;
  height: 60vh;
  border: none;
  overflow: hidden;
}

.line-b {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  margin: 0;
}

.line-1 {
  position: relative;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(48) 1s 1 normal both,
    blinkTextCursor 500ms steps(48) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 28em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
