body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: url(/svg/tom.png), auto;
}

  #evil-button {
    position: absolute;
    white-space: nowrap;
    border: none;
    background-color: transparent;
  }